@import "./variables", "./color";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
.general {
  font-family: Raleway, sans-serif;
  background-color: $bg-general;
  nav.navbar {
    background-color: rgba(116, 52, 180, 0.1) !important;
    .container {
      .navbar-brand {
        img.nav-logo {
          width: 120px;
          display: inline-block;
        }
      }
      .collapse {
        .navbar-nav {
          .nav-item {
            .nav-link {
              font-size: 15px !important;
            }
          }
        }
        .navbar-nav {
          margin-top: -8px;
        }
      }
      .collapse.show {
        padding: 25px;
        background-color: $bg-primary;
        border-radius: 0.25rem;
      }
      .navbar-nav.profile {
        .nav-item {
          .nav-link.user {
            color: #000080;
          }
        }
        .nav-item.logout {
          a {
            color: rgb(184, 32, 32);
          }
        }
      }
    }
  }
  nav.navbar:hover {
    background-color: rgb(150, 90, 210) !important;
  }

  .mainContent.homepage {
    .hellopic {
      img {
        width: 100%;
        max-width: 100vw;
        height: 100%;
        max-height: 100vh;
      }
    }
    .section-one {
      background-color: $bg-secondary;
      h1 {
        color: $text;
      }
      .crossed {
        margin: 0 auto;
        .crosscontent {
          display: flex;
          // background-color: salmon;

          .crossimg {
            width: 50%;
            img {
              max-width: 400px;
              width: 100%;
              max-height: 400px;
              height: 100%;
              margin-left: auto;
              margin-right: 0;
            }
          }
          .crosstext {
            width: 50%;
            // background-color: aqua;
            .bloghl {
              // background-color: $bg-secondary;
              width: 100%;
              max-width: 400px;
              height: 100%;
              p.maintext {
                max-height: 240px;
                // white-space: nowrap;
                // text-overflow: ellipsis;
                overflow: hidden;
                margin-bottom: 0px;
              }
              a {
                text-decoration: none;
                color: $text;
              }
              a:hover {
                color: white;
              }
            }
          }
        }
        .crosscontent:nth-of-type(even) {
          display: flex;
          flex-direction: row-reverse;
          .crossimg {
            img {
              margin-left: 0;
              margin-right: auto;
            }
          }
          .crosstext {
            .bloghl {
              text-align: right;
              margin-left: auto;
              margin-right: 0;
              div.author {
                justify-content: flex-end;
              }
              .toptext {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
  .mainContent.artikel {
    background-color: $bg-secondary;
    padding-top: 100px;
    padding-bottom: 50px;
    .imgcontent {
      display: flex;
      justify-content: center;
      img {
        height: 100%;
        max-height: 100vh;
      }
    }
    .titlecontent {
      .author {
        display: flex;
        font-size: 13px;
        align-items: center;
        .edit {
          margin-top: -17px;
          margin-left: 20px;
          background-color: $bg-tertiary;
          height: 20px;
          border-radius: 3px;
          a {
            color: white;
            text-decoration: none;
            font-size: 13px;
            line-height: 3px;
          }
        }
      }
    }
  }
  .mainContent.editartikel {
    margin-top: 150px;
    padding-top: 10px;
    form {
      ul {
        li {
          list-style: none;
          margin-right: 30px;
          button.btn-custom-primary {
            background-color: $bg-primary;
            &:hover {
              background-color: $bg-secondary;
            }
          }
          img {
            width: 100%;
            margin-bottom: 20px;
          }
        }
        li.subbutton {
          button {
            margin: 0 auto !important;
          }
        }
      }
    }
  }
  .mainContent.registration {
    display: flex;
    justify-content: center;
    .card {
      width: 80%;
      max-width: 350px;
      margin-top: 100px;
      border: 0px;
      background-color: transparent;
      form {
        border-radius: 15px;
        padding: 10px;
        border: 1px solid $bg-primary;
        background-color: white;
        ul {
          li {
            list-style: none;
            margin-top: 30px;
            margin-bottom: 30px;

            input {
              border: none;
              border-bottom: 2px solid #d1d1d4;
              width: 230px;
            }
            input:active,
            input:hover,
            input:focus {
              outline: none;
              border-bottom-color: #6a679e;
            }

            img {
              margin-top: 20px;
              width: 200px;
            }
          }
          .d-grid {
            width: 260px;
            button {
              margin: 0 auto;
              width: 100px;
              height: 40px;
              transition: all 0.5s ease;
              border-radius: 23px;
              border: 2px solid #d1d1d4;
              transition-delay: 0.2s;
            }
            button:hover {
              box-shadow: 0 0 20px $bg-primary, 0 0 40px $bg-secondary;
              border: 2px solid $bg-tertiary;
              background-color: $bg-tertiary;
              color: white;
              transition: box-shadow 0.5s, border 1s, background-color 1s, color 1s;
            }
          }
        }
      }
    }
  }
  .mainContent.about {
    .container.section-one,
    .container.section-two {
      background-color: $bg-secondary;
      padding-top: 100px;
      text-align: left;
      p.title {
        font-size: 30px;
        text-align: center;
      }
      p.text {
        text-indent: 30px;
      }
    }
    .container.section-two {
      margin-top: -16px;
    }
  }

  footer {
    div {
      img {
        max-width: 100px;
      }
    }
  }
}
.general.login {
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
  .container-fluid {
    margin-top: 50px;
    .card {
      width: 80%;
      max-width: 350px;
      form {
        border-radius: 15px;
        border: 1px solid $bg-primary;
        input {
          border: none;
          border-bottom: 2px solid #d1d1d4;
        }
        input:active,
        input:hover,
        input:focus {
          outline: none;
          border-bottom-color: #6a679e;
        }
        img {
          margin-top: 20px;
          width: 200px;
        }
        .username {
          margin-top: 0px;
        }
        .checkbox {
          label {
            margin-top: 25px;
            font-size: 12px;
          }
        }
        .d-grid {
          button {
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 100px;
            height: 40px;
            transition: all 0.5s ease;
            border-radius: 23px;
            border: 2px solid #d1d1d4;
            transition-delay: 0.2s;
          }
          button:hover {
            box-shadow: 0 0 20px $bg-primary, 0 0 40px $bg-secondary;
            border: 2px solid $bg-tertiary;
            background-color: $bg-tertiary;
            color: white;
            transition: box-shadow 0.5s, border 1s, background-color 1s, color 1s;
          }
        }
      }
    }
  }
}
